/* Multipaste VIP v1.0 */
/* Reset browser styles
------------------------------------------ */
* {margin: 0; padding: 0}
html {min-height: 100%; padding-bottom: 1px; overflow: scroll;}
body {background: #fff; color: #575757; font: 0.75em/1.5 "Arial", "Helvetica", sans-serif; }
[class] {list-style: none; padding: 8px}
h1, h2, h3, h4, h5, h6 {font-size: 1em}
dt {font-weight: 700}
table {border-collapse: collapse}
img {border: none; vertical-align: middle}
a {color: #ff7200; text-decoration: none; outline: none; cursor: pointer}
a:hover {color: #000; text-decoration: underline}
textarea, input, select, option, optgroup, button {font: 1em "Arial", "Helvetica", sans-serif}
button, [type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="reset"], label[for], select {cursor: pointer}
input, select, textarea {outline: none}
fieldset {overflow: hidden; border: none;}
legend {display: none;}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {padding: 0; border: none}


/* Global Styles
------------------------------------------ */

h1 {margin: 0 0 10px; color: #ff7200; font: normal 2.5em "Arial",sans-serif;}
h2 {margin: 1em 0; padding-bottom: 5px; color: #000; font: normal 2em "Arial",sans-serif;}
h3 {margin: 1em 0 0; font: normal 1.75em "Arial",sans-serif;}
h4 {margin: 1em 0 0; font: normal 1.5em "Arial",sans-serif;}
h5 {margin: 1em 0 0; font-weight: normal 1.25em "Arial",sans-serif;;}
h6 {margin: 1em 0 0; font-normal: 1.167em "Arial",sans-serif;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-family: "Arial",sans-serif; text-decoration: none;}
h2 a {font-family: "Arial",sans-serif;}
h2 a:hover {color: #000; text-decoration: none;}
blockquote {margin: 1.5em 0; padding: 10px 20px 10px 70px; border: 1px solid #dbdbdb; border-radius: 5px; background: #f6f6f6 url("images/quotes.png") 15px 15px no-repeat; font-style: italic;}
sub, sup {line-height: 1em;}
ul li, ol li {margin: 5px 20px;}
dl {overflow: hidden; margin: 1em 0; }
dt {float: left; clear: left; width: 150px; margin: 0 0 1em; padding: 0; font-weight: bold;}
dd {width: 500px; margin: 0 0 1em 150px; }
p {margin: 1em 0;}
table {margin: 1em auto; border: 1px solid #dbdbdb; border-radius: 5px; }
table th, table th[class] {padding: 5px 10px; border: 1px solid #dbdbdb; background: #f3f3f3;}
table td, table td[class] {padding: 5px 10px; border: 1px solid #dbdbdb;}
table tr.alternate td {background: #fafafa;}

form, form[class] {margin: 1.5em 0; padding: 10px 20px; border: 1px solid #dbdbdb; border-radius: 5px; background: #f6f6f6;;}
label {float: left; clear: left; width: 150px; padding: 5px 0; font-weight: bold;}
input, select, select[class], textarea {width: 300px; margin: 5px 0; padding: 5px 10px; border: 1px solid #333; border-radius: 3px; background: #fff url("images/input.gif") top repeat-x; vertical-align: middle; }
select option {padding: 0 5px; }
input[type="radio"], input[type="checkbox"], input[type="submit"] {width: auto; border: none; background: none;}
span.required {padding: 0 5px; color: #ff7200; font-weight: bold; font-size: 1.333em;}
textarea {width: 95%; min-width: 95%; max-width: 95%; /*height: 100px;*/}
p.form-submit, p.form-allowed-tags {margin-left: 150px;}
button, input[type="submit"] {height: 25px; padding: 0 15px; border:none; border-radius: 3px; background: #333 url("images/button.png") top repeat-x; color: #fff; font: normal 1.25em/25px "Arial",sans-serif; vertical-align: middle;}
.searchform button {overflow: hidden; width: 30px; margin: 0 0 0 5px; padding: 0; background: url("images/button-search.png") 0 0 no-repeat; text-indent: -500em;}

/* Main Layout
------------------------------------------ */
body {min-width: 980px; background: #fff;}

.header {border-bottom: 1px solid #707070; background: #ffaf03 url("images/header.jpg") top repeat-x;}
.header>div {overflow: hidden; width: 960px; margin: 0 auto; padding: 15px 0;}
.header p {margin: 0;}
.header p.title {margin: 15px 0 0; padding: 0; color: #fff; font: normal 3em/1em "Arial",sans-serif; text-shadow: #000 0 0 2px;}
.header p.title a {color: #fff; font-family: "Arial",sans-serif;}
.header p.title a:hover {color: #eee; text-decoration: none;}
.header p.tagline {margin: 0 0 25px; padding: 5px 0; color: #fff; font: normal 1.5em "Arial",sans-serif; text-shadow: #000 0 0 2px;}
.header form {float: right; width: 223px; height: 35px; margin: 25px 0 0 50px; padding: 0; border: none; background: url("images/search.png"); text-align: center;}
.header form input {width: 155px;}

.nav {width: 950px;; margin: -20px auto 0; padding-bottom: 12px; background: url("images/menu-shadow.png") center bottom no-repeat;}
.nav>div {width: 940px; margin: 0 auto; padding: 0 10px; border-radius: 5px; background: #4a4a4a url("images/menu-bg.png") top repeat-x;}
.nav ul.menu {list-style: none; margin: 0; padding: 0; min-height: 30px; font-size: 1.167em;}
.nav ul.menu>li {float: left; position: relative; overflow: hidden; height: 30px; margin: 0; padding: 0; border-left: 1px solid #444; border-right: 1px solid #151515;}
.nav ul.menu>li:hover {overflow: visible; z-index: 150;}
.nav ul.menu>li>a {float: left; height: 30px; padding: 0 15px; background: url("images/mm-link.png") left -50px repeat-x; color: #fff; font-family: "Arial",sans-serif; line-height: 30px; text-decoration: none; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);}
.nav ul.menu>li>a:hover, .nav ul.menu>li:hover>a, .nav ul.menu>li.current-menu-item>a, .nav ul.menu>li.current_page_item>a {height: 30px; padding: 0 15px; background-position: left center; color: #fff; line-height: 30px; text-decoration: none;}
.nav ul.menu>li ul {position: absolute; left: 0; top: 30px; width: 200px; list-style: none; margin: 0; background: #4a4a4a; font-size: 0.8em;}
.nav ul.menu>li ul li {float: none; position: relative; overflow: hidden; margin: 0; padding: 0;}
.nav ul.menu>li ul li:hover {overflow: visible;}
.nav ul.menu>li ul li a {display: block; padding: 5px 15px; border-bottom: 1px solid #6f6f6f; color: #fff; font-family: "Arial",sans-serif; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);}
.nav ul.menu>li ul li a:hover, .nav ul.menu>li ul li:hover>a {background: #ffaf03; color: #fff; text-decoration: none;}
.nav ul.menu>li ul li:first-child>a {border-top: none;}
.nav ul.menu>li ul li ul {top: 0; left: 200px; font-size: 1em;}

.content {overflow: hidden; width: 970px; margin: 0 auto; padding: 20px 0;}
.main {float: left; overflow: hidden; width: 670px;}
.main>h1 {margin: 0 20px 10px;}
.main.post {width: 630px;}
.main.post>h1 {margin: 0 0 10px;}
.sidebar {float: right; width: 290px;}

.footer {width: 960px; margin: 0 auto; padding: 0 0 20px;}
.footer .nav {margin: 0; padding-bottom: 13px; background: url("images/footer-shadow.png") center bottom no-repeat;}
.footer p {margin: 0; color: #666; font-size: 0.917em; line-height: 1.5em; text-align: center;}
.footer p a {color: #666;}


/* sidebar
------------------------------------------ */
.widget {margin-bottom: 1.5em; padding: 6px 20px; background: url("images/sidebox.png") center top no-repeat;}
.widget select {width: 230px; margin: 5px 0;}
.sidebar h3 {margin: 0 -15px 15px; padding: 0 15px; border-radius: 5px 5px 0 0; background: #ff7200 url("images/sidebox-title.png") top repeat-x; color: #fff; font: normal 1.25em/30px "Arial", sans-serif; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);}
.sidebar ul {list-style: none; margin: 0; padding: 0;}
.sidebar ul li {margin: 0; padding: 5px 0; border-top: 1px solid #d9d9d9; color: #666;}
.sidebar ul li.current-menu-item>a, .sidebar ul li.current_page_item>a, .sidebar ul li.current-cat>a,
.sidebar ul li.current-menu-item>a:visited, .sidebar ul li.current_page_item>a:visited, .sidebar ul li.current-cat>a:visited {font-weight: bold; color: #333;}
.sidebar ul li a {color: #ff7200;}
.sidebar ul li a:hover {color: #333; text-decoration: none;}
.sidebar ul li a:visited, .sidebar .tagcloud a:visited {color: #ffaf03;}
.sidebar ul li ul {margin: 5px 0 -5px;}
.sidebar ul ul li {padding-left: 15px;}
.sidebar ul ul ul li {padding-left: 30px;}

.sidebar form {width: 260px; margin: 15px 0 0; padding: 0; border: none; background: none; }
.sidebar form input {width: 195px;}

/* misc
------------------------------------------ */

.clear {height: 0; margin: 0; padding: 0; clear: both; float: none; overflow: hidden; border: none;}
.alignleft {float: left; margin: 5px 15px 5px 0; padding: 0; }
.alignright {float: right; margin: 5px 0 5px 15px; padding: 0; }
.aligncenter {display: block; margin: 1em auto; text-align: center;}
.wp-caption-text {margin: 0.5em 0; color: #666; font-size: 0.917em;}
.nocomments {clear: both;}
img.size-thumbnail {margin: 5px;}
a.post-edit-link {font-size: 0.5em;}
img {margin: 0; max-width: 630px; height: auto;}
img.attachment-post-thumbnail, img.attachment-thumbnail {padding: 2px; border: 1px solid #dbdbdb; border-radius: 5px; }
a:hover img.attachment-post-thumbnail, a:hover img.attachment-thumbnail {border-color: #333;}
embed {max-width: 630px;}

p.pagination {overflow: hidden; clear: both; }
p.pagination a {height: 22px; background: url("images/icons.png") no-repeat; font: normal 1.083em/22px "Arial",sans-serif;}
p.pagination a:hover {color: #000; text-decoration: none;}
p.pagination .prev a {float: left; padding: 0 0 0 25px; background-position: 0 -140px;  }
p.pagination .next a {float: right; padding: 0 25px 0 0; background-position: 100% -120px;}
p.pages {clear: both;}

p label {display: inline; margin-bottom: 0;}
.main h3, .main h2 {clear: both;}
p.comment-form-comment label {display: block; float: left;}

.jdbtn {
height: 35px !important;
width: 300px !important;
border: 1px solid !important;
color: orange !important;
background: whitesmoke !important;
}

.jd {
width: 300px;
background: none !important;
margin-bottom: -3px !important;
margin-top: 10px !important;
}

.welcomeuser {
padding: 2px;
width: 700px;
margin: auto;
border: 1px black solid;
border-radius: 5px;
color: black;
background: #ffaf03;
text-align: center;
}

.loginlabel {
    width: 70px;
}

.vipbbcodebuton {
    padding: 0 15px !important;
}

.vip{
    border: 1px solid #afaaaa;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background: #f3f3f3;
}
