ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 970px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #151515;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
}
ul.tabs li div {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	color:#FF7200;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
}
ul.tabs li div:hover {
	background: #cccccc;
}
html ul.tabs li.active, html ul.tabs li.active div:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 952px;
	background: #fff;
}
.tab_content {
	border: solid 1px;
	padding: 8px;
	font-size: 1.2em;
}
